# Ignore IDE settings
.idea/

# Ignore model artifacts
services/model/models/
services/model/services/model/models/
*.joblib

# Ignore test folders
services/model/tests/
git check-ignore -v services/model/models/somefile.joblib

# Ignore development scripts and trash
scripts/
trash/

# Python cache files
__pycache__/
*.pyc

.idea/
shared/.env
